.nav-con{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: -20px;
    padding-bottom: -20px;
    background-color: rgb(7, 136, 234);
}
.menu-con{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -40px;
    width:30%;
}

.hed-to{
    margin-bottom: -20px;
    font-size: 30px;
}
.hed-Do{
    margin-top: -10px;
    font-size: 30px;
}
.pr-name{
    background-color: #fff;
    color:rgb(7, 136, 234);
    padding:5px 15px;
    border-radius: 50px;
}
.logout{
    background-color: transparent;
    border:2px solid #fff;
    color:#fff;
    padding:5px 10px;
    outline: none;
}
.menu_item{
    font-weight: 900;
    color:#fff;

}
.link{
    text-decoration: none;
}
.todo-hed-con{
    background-color: #fff;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 100px;
}